.logos-slide {
    text-align: center;
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding: 15px 0;
}

.logos-slide img {
    height: 60px;
    vertical-align: middle;
    width: auto;
    padding: 0 40px;
}