.hero-image {
    grid-area: video;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: fill;
    z-index: 1;
}

.main-hero {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.main-hero-light {
    background-color: #f5f3ef;
}

.main-hero-dark {
    background-color: var(--color-two);
}

.main-hero-grid {
    display: grid;
    grid-template-areas: "text video";
    grid-template-columns: 2fr 3fr;
}

.main-hero-text {
    grid-area: text;
    width: 100%;
    height: 50%;
    font-weight: 700;
    height: auto;
    margin: auto 0 auto 0;
    color: var(--color-two);
    font-size: 3rem;
}

.main-hero-text-georgian {
    font-size: 2.5rem;
}

.main-hero-text-dark {
    color: var(--color-one);
}

@media (max-width: 768px) {

    .main-hero-grid {
        grid-template-columns: 1fr;
        grid-template-areas: "video"
            "text";
    }

    .main-hero-text {
        width: 90%;
        font-size: 2rem;
        margin: 0 auto 0 auto;
    }

    .main-hero-text-georgian {
        font-size: 2rem;
    }



}