.opening-main {
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.opening-title {
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 700;
    color: var(--color-two);
    line-height: 2.5rem;
}

.opening-title-dark {
    color: var(--color-one);
}

.opening-subtitle {
    text-align: center;
    font-size: 1rem;
    color: var(--text-color-two);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.opening-subtitle-dark {
    color: var(--color-one);
}

.opening-card-parent {
    max-width: 1200px;
    width: 100%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.opening-child {
    text-align: center;
    padding: 1em 2em;
    border: 2px solid var(--color-three);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.4);
}

.opening-child-dark {
    background-color: var(--color-one);
}

.opening-child h3 {
    margin-bottom: 0.5em;
    font-size: 1.25rem;
    color: var(--color-popup);
}

.opening-child p {
    color: var(--color-two);
    font-weight: 500;
}


@media (max-width: 768px) {
    .opening-main {
        height: auto;
    }

    .opening-title {
        padding: 1.5rem 1rem;
    }

    .opening-subtitle {
        padding: 0 1rem;
    }

    .opening-card-parent {
        grid-template-columns: 1fr 1fr;
    }
}