.service-main {
    max-width: 1200px;
    margin: 2rem auto 2rem auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 5%;
    border-radius: 25% 0% 0% 25% / 50% 0% 0% 50%;
    background-image: linear-gradient(to right, var(--color-three), var(--color-one));
    gap: 2rem;
}

.service-main h2 {
    margin: 0 auto;
    font-size: 2rem;
    color: var(--color-popup);
    font-weight: 700;
}

.service-main p {
    margin: 1rem auto;
    font-size: 1.2rem;
    color: var(--color-two);
    font-weight: 500;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .service-main {
        grid-template-columns: 1fr;
        height: auto;
        background-image: linear-gradient(to bottom, var(--color-three), var(--color-one));
        border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
    }

    .service-main img {
        margin: auto;
    }
}