.service-main {
    max-width: 1200px;
    margin: 2rem auto 2rem auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 0;
    gap: 2rem;
}

.service-list {
    list-style-type: decimal-leading-zero;
    /* Options: disc, circle, square */
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    /* Essential for bullets to show */
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.service-item {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    /* Adjust based on your light/dark mode */
}

/* Optional: Custom bullet color */
.service-list li::marker {
    color: var(--color-popup);
    font-size: 1.2em;
}

.service-main h2 {
    margin: 0 auto;
    font-size: 2rem;
    color: var(--color-two);
    font-weight: 700;
}

.service-main p {
    margin: 1rem auto;
    font-size: 1.2rem;
    color: var(--color-two);
    font-weight: 500;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .service-main {
        grid-template-columns: 1fr;
        height: auto;
        margin: 10px;
    }

    .service-main img {
        width: 100%;
        margin: auto;
    }
}