.hero-video-wrapper {
    width: 100%;
    aspect-ratio: 4 / 3;
    /* or your real ratio */
    position: relative;
    overflow: hidden;
}

.hero-video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}