.hero-video-wrapper {
    width: 100%;
    aspect-ratio: 4 / 3;
    /* or your real ratio */
    position: relative;
    overflow: hidden;
}

.hero-video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: transparent;
}

video {
    mix-blend-mode: normal;
    filter: contrast(2) saturate(5);
    WebkitFilter: contrast(1.1) saturate(1.15);
}