.whatsapp-icon {
    padding: 0.5em 1em;
    background-image: url('/social/whatsapp.webp');
    background-size: cover;
    border: none;
    width: 80px;
    cursor: pointer;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    z-index: 2;
    bottom: 130px;
    animation: shadow 2s infinite;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 5px var(--color-popup);
    }

    50% {
        box-shadow: 0 0 40px var(--color-black);
    }

    100% {
        box-shadow: 0 0 5px var(--color-popup);
    }
}

@media (max-width: 768px) {
    .whatsapp-icon {
        position: fixed;
        left: 75vw;
    }
}