@import "tailwindcss";

:root {
  font-size: 14px;
  --background-color: var(--color-one);

  --color-four: #B4B56D;
  --color-three: #8DB2A2;

  --color-one: #f5f3ef;
  --color-popup: #E4704B;

  --color-two: #00654b;
  --text-color-two: hsl(107, 36%, 30%);
  --text-color-three: hsl(107, 36%, 60%);

  --color-black: hsla(0, 3%, 6%, 0.432);


  --color-popup-hover: hsl(15, 75%, 80%);
}

img {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

body.darkmode-body {
  background-color: var(--color-two);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.imageUrl {
  width: 200px;
  /* height: auto; */
  border-radius: 50%;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.5s infinite ease-in-out;
}