@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  font-size: 14px;
  --background-color: var(--color-one);

  /* --color-four: #B4B56D; */

  --color-four: #9ab973;
  --color-three: #8DB2A2;

  --color-one: #f5f3ef;
  --color-popup: #ff5911;


  /* --color-two: #00654b; */

  --color-two: #0b172a;
  --text-color-two: hsl(107, 36%, 30%);
  --text-color-three: hsl(107, 36%, 60%);

  --color-black: hsla(0, 3%, 6%, 0.432);


  --color-popup-hover: hsl(15, 75%, 80%);
}

@theme {
  --color-brand-primary: #ff5911;
  --color-brand-bg: #f5f3ef;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Effra', "Noto Sans Georgian",
    sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

.letter-spacing {
  letter-spacing: 3px;
}

.letter-spacing:lang(ka) {
  letter-spacing: 2px;
}

.letter-spacing-medium {
  letter-spacing: 2px;
}

.letter-spacing-medium:lang(ka) {
  letter-spacing: 1.5px;
}

.letter-spacing-small {
  letter-spacing: 1.8px;
}

.letter-spacing-small:lang(ka) {
  letter-spacing: 1px;
}

body.darkmode-body {
  background-color: var(--color-two);
}

.imageUrl {
  width: 200px;
  /* height: auto; */
  border-radius: 50%;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.5s infinite ease-in-out;
}

.wavy-line {
  --s: 16px;
  /* size of the wave */
  --b: 10px;
  /* thickness of the line */
  --m: 0.4;
  /* curvature of the wave [0 2] */

  --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
  height: calc(2*var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask:
    radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)), var(--_g)) 50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}

.position-1 {
  width: 400px;
  z-index: 1000000;
  position: absolute;
  background: var(--color-popup-hover);
  top: 500px;
}

.position-2 {
  width: 400px;
  z-index: 1000;
  position: absolute;
  background: var(--color-popup);
  top: 450px;
  /* right: 50px; */
  /* rotate: calc(300deg); */
}